<template>
  <footer>
    <div class="container__middle">
      <div class="left">
        <h3>Menu rapide</h3>
        <ul>
          <router-link to="/">Accueil</router-link>
          <router-link to="/about">A propos</router-link>
          <router-link to="/services">Services</router-link>
          <router-link to="/portfolio">Portfolio</router-link>
          <router-link to="/contact">Contactez-moi</router-link>
        </ul>
      </div>
      <div class="middle">
        <div class="container">
          <h3>Télécharger Mon CV &ndash; ( pdf )</h3>
          <div class="content">
            <div class="flex-fill"></div>
            <p>
              J'ai réalisé ce CV via une inspiration d'un CV trouvé sur google.
              Puis je l'ai ré-écris entièrement en JavaScript grâce à la
              librairie jsPDF
            </p>
            <figure>
              <img
                title="le fichier sera télécharger au format PDF"
                src="@/assets/cv.png"
                alt="représentation de mon CV"
                width="125"
                @click.prevent="generateCV"
              />
            </figure>
            <div class="flex-fill"></div>
          </div>
        </div>
      </div>
      <div class="right">
        <h3>Mes Remerciements</h3>
        <ul>
          <li>Ma famille</li>
          <li>La famille Vigoureux</li>
          <li>La 3W Academy</li>
          <li>Les communautés sur discord</li>
          <li>Erwan de Dyma</li>
          <li>Matthieu Gaston de H2prog</li>
          <li>Tous les formateurs que j'ai pu avoir</li>
        </ul>
      </div>
    </div>
    <div class="container__bottom">
      <span>&copy; Copyright 2020-2021</span>
      <span>&#128241; 06.22.63.79.24</span>
      <span>
        <a
          href="https://www.linkedin.com/in/alain-guillon-22b3b4b6/"
          target="_blanck"
          class="link"
        >
          <img src="@/assets/linkedin.png" alt="Icon Github" width="25" />
        </a>
        <a href="https://github.com/Zyrass" target="_blanck" class="link">
          <img src="@/assets/github.png" alt="Icon Github" width="25" />
        </a>
        <a href="https://gitlab.com/Zyrass" target="_blanck" class="link">
          <img src="@/assets/gitlab.png" alt="Icon Gitlab" width="25" />
        </a>
      </span>
      <span>Mentions Légales</span>
      <span>Codé avec passion</span>
    </div>
  </footer>
</template>

<script>
const jsPDF = require("jspdf");
const moiJPG = require("@/assets/moi.jpg");

export default {
  name: "TheFooter",
  methods: {
    generateCV() {
      let pdf = new jsPDF();
      console.log(pdf);
      // Photo
      let photo = new Image();
      photo.src = moiJPG;
      console.log(photo.src);
      pdf.addImage(photo, "JPEG", 0, -5, 70, 90);
      // Nom Prénom
      pdf.setFontSize(50);
      pdf.setFont("helvetica");
      pdf.setFontStyle("normal");
      pdf.text(165, 20, "Alain");
      pdf.text(127, 35, "GUILLON");
      // Bande noir pour "Développeur Front Junior"
      pdf.rect(80, 40, 130, 15, "F");
      // Text "Développeur Front Junior"
      pdf.setFontSize(28);
      pdf.setFont("Montserrat");
      pdf.setFontStyle("italic");
      pdf.setTextColor(218, 165, 32);
      pdf.text(85, 50, "Développeur Front Junior");
      // Adresse
      pdf.setFontSize(12);
      pdf.setFont("helvetica");
      pdf.setTextColor(75);
      pdf.text(
        80,
        63,
        "7, Impasse Paul Langevin - 69330 Meyzieu (Région Lyonnaise)"
      );
      // Bande profile
      pdf.setDrawColor(0);
      pdf.setFillColor(218, 165, 32);
      pdf.rect(0, 70, 210, 30, "FD");
      // Text dans la bande
      pdf.setTextColor(50);
      pdf.setFontSize(12);
      let text = `En reconversion professionnel, j'ai pour ambition de devenir fullstack.
    Je reste débutant mais à 36 ans et pour mener à bien cette reconversion,
    je suis inscris sur quelques plateformes d'E-learning. Je me forme au
    jour d'aujourd'hui essentiellement autour de l'écho-système JavaScript.`;
      pdf.text(60, 78, text);
      // Titre Profile Professionnel
      pdf.setFontSize(16);
      pdf.setFont("helvetica");
      pdf.setFontStyle("bold");
      pdf.setTextColor(0);
      pdf.text(10, 80, "PROFIL");
      pdf.text(10, 86, "PROFESIONNEL");
      // Section contact
      pdf.setDrawColor(0);
      pdf.setFillColor(50);
      pdf.rect(0, 100, 70, 55, "FD");
      pdf.setFontSize(18);
      pdf.setFont("Montserrat");
      pdf.setFontStyle("bold");
      pdf.setTextColor(218, 165, 32);
      pdf.text(45, 110, "Contact");
      pdf.setDrawColor(218, 165, 32);
      pdf.line(10, 115, 70, 115);
      pdf.setFontSize(11);
      pdf.setTextColor(218, 165, 32);
      pdf.setFontStyle("bold");
      pdf.text(5, 123, "Website");
      pdf.text(5, 128, "E-mail");
      pdf.text(5, 133, "Phone");
      pdf.text(5, 138, "Permis");
      pdf.text(5, 143, "Situation");
      pdf.text(5, 148, "Enfants");
      pdf.setFontSize(10);
      pdf.setTextColor(255);
      pdf.setFontStyle("bold");
      pdf.text(23, 123, "http://alain-guillon.fr");
      pdf.text(23, 128, "alain.guillon.69330@outlook.fr");
      pdf.text(23, 133, "06.22.63.79.24");
      pdf.text(23, 138, "Permis B");
      pdf.text(23, 143, "En couple (16 ans)");
      pdf.text(23, 148, "2 enfants et parange");
      // Section skills
      pdf.setDrawColor(0);
      pdf.setFillColor(75);
      pdf.rect(0, 155, 70, 80, "FD");
      pdf.setFontSize(18);
      pdf.setFont("Montserrat");
      pdf.setFontStyle("bold");
      pdf.setTextColor(218, 165, 32);
      pdf.text(35, 165, "Dev Front");
      pdf.text(35, 198, "Dev Back");
      pdf.setDrawColor(218, 165, 32);
      pdf.line(10, 170, 70, 170);
      pdf.line(10, 203, 70, 203);
      pdf.setFontSize(12);
      pdf.setTextColor(218, 165, 32);
      pdf.setFontStyle("bold");
      // Front
      pdf.text(5, 178, "HTML, CSS");
      pdf.text(5, 183, "JS, VueJS");
      pdf.text(5, 188, "TS, React");
      // Back
      pdf.text(5, 213, "Bash, Git");
      pdf.text(5, 218, "NPM, PNPM");
      pdf.text(5, 223, "Linux");
      pdf.text(5, 228, "Stack MEVN");
      pdf.setFontSize(12);
      pdf.setTextColor(255);
      pdf.setFontStyle("italic");
      // front
      pdf.text(35, 178, "Avancé");
      pdf.text(35, 183, "Intermédiaire+");
      pdf.text(35, 188, "Débutant");
      // back
      pdf.text(35, 213, "Intermédiaire+");
      pdf.text(35, 218, "Intermédiaire+");
      pdf.text(35, 218, "Intermédiaire");
      pdf.text(35, 223, "Intermédiaire");
      pdf.text(35, 228, "Débutant");
      // Section Centre d'intérêts
      pdf.setDrawColor(0);
      pdf.setFillColor(50);
      pdf.rect(0, 235, 70, 65, "FD");
      pdf.setFontSize(18);
      pdf.setFontStyle("bold");
      pdf.setTextColor(218, 165, 32);
      pdf.text(20, 245, "Centre d'intérêts");
      pdf.setDrawColor(218, 165, 32);
      pdf.line(10, 250, 70, 250);
      pdf.setFontSize(13);
      pdf.setFontStyle("normal");
      pdf.setTextColor(255);
      pdf.text(5, 260, "> Cinéma");
      pdf.text(5, 265, "> Football");
      pdf.text(5, 270, "> Plateforme d'E-learning");
      pdf.text(5, 275, "> Handball - ");
      pdf.text(5, 280, "> Le Japonais - ");
      pdf.setFontSize(10);
      pdf.setFontStyle("italic");
      pdf.text(30, 275, "(18 ans - Amateur)");
      pdf.text(35, 280, "(Découverte - Youtube)");
      // Section Expériences Professionnelles
      pdf.setFontSize(18);
      pdf.setFontStyle("bold");
      pdf.setTextColor(50);
      pdf.text(140, 110, "Parcours Profesionnel");
      pdf.setDrawColor(50);
      pdf.line(80, 115, 210, 115);
      // Expérience pro n°1
      pdf.setFontSize(14);
      pdf.setFontStyle("bold");
      pdf.setTextColor(50);
      pdf.text(80, 123, "3W Academy");
      pdf.setFontSize(12);
      pdf.setFontStyle("normal");
      pdf.text(80, 128, "Enseignant Adjoint");
      pdf.text(80, 133, "Lyon");
      pdf.text(80, 138, "Fév. 2019 - Avr. 2019");
      let exp1 = `Accompagnement d'un nouveau formateur avec
    comme tâche d'enseigner le JavaScript,
    le PHP "Procédurale et l'orienté objet (POO)"
    ainsi que le langage SQL (MySQL - PDO)`;
      pdf.setTextColor(100);
      pdf.setFontSize(10);
      pdf.setFontStyle("italic");
      pdf.text(127, 123, exp1);
      // Expérience pro n°2
      pdf.setFontSize(14);
      pdf.setFontStyle("bold");
      pdf.setTextColor(50);
      pdf.text(80, 148, "3W Academy");
      pdf.setFontSize(12);
      pdf.setFontStyle("normal");
      pdf.text(80, 153, "Enseignant");
      pdf.text(80, 158, "Lyon");
      pdf.text(80, 163, "Fév. 2017 - Avr. 2017");
      let exp2 = `Reprise d'une classe avec comme tâche
    d'enseigner le JavaScript, le PHP
    "Procédurale et l'orienté objet (POO)"
    ainsi que le langage SQL (MySQL - PDO)`;
      pdf.setTextColor(100);
      pdf.setFontSize(10);
      pdf.setFontStyle("italic");
      pdf.text(127, 148, exp2);
      // Section Formations
      pdf.setFontSize(18);
      pdf.setFontStyle("bold");
      pdf.setTextColor(50);
      pdf.text(165, 173, "Formations");
      pdf.setDrawColor(50);
      pdf.line(80, 178, 210, 178);
      // Formation Dyma
      pdf.setFontSize(14);
      pdf.setFontStyle("bold");
      pdf.setTextColor(50);
      pdf.text(80, 188, "Dyma");
      pdf.setFontSize(12);
      pdf.setFontStyle("normal");
      pdf.text(80, 193, "Autodidacte");
      pdf.text(80, 198, "2019 - 2020");
      let formation1 = `- Révision HTML/CSS + découverte flexbox + grid
    - Révision JS + découverte ES6, ES7, ES8
      + découverte de quelques API native du language.
    - Découverte du framework VueJS
    - Découverte du framework React (formation initiale)
    - Découverte de Gitlab, Gitflow
    - Découverte de NodeJs, Express, MongoDB,
      Mongoose (Notion)`;
      pdf.setTextColor(100);
      pdf.setFontSize(10);
      pdf.setFontStyle("italic");
      pdf.text(127, 188, formation1);
      // Formation OpenClassRooms
      pdf.setFontSize(14);
      pdf.setFontStyle("bold");
      pdf.setTextColor(50);
      pdf.text(80, 223, "OpenClassRooms");
      pdf.setFontSize(12);
      pdf.setFontStyle("normal");
      pdf.text(80, 228, "Autodidacte");
      pdf.text(80, 233, "2015 - 2020");
      let formation2 = `Plusieurs cours suivi comme par exemple :
      - Gérer son identité numérique
      - Découvrez les solutions CMS (wordpress)
      - Concevez votre site web avec PHP et MySQL
      - Gérer votre code avec Git et Github
      - Passez au full stack avec NodeJS, Express, MongoDB`;
      pdf.setTextColor(100);
      pdf.setFontSize(10);
      pdf.setFontStyle("italic");
      pdf.text(127, 223, formation2);
      // Formation Udemy
      pdf.setFontSize(14);
      pdf.setFontStyle("bold");
      pdf.setTextColor(50);
      pdf.text(80, 253, "Udemy");
      pdf.setFontSize(12);
      pdf.setFontStyle("normal");
      pdf.text(80, 258, "Autodidacte");
      pdf.text(80, 263, "2015 - 2020");
      let formation3 = `Plusieurs cours (104) traitant sur :
      - HTML, CSS, JS, VUE, NODE, REACT, PHP, POO
    Une préférence pour les formations H2Prog :
      - Découverte des bases de l'algorithmie
      - Renforcement sur l'écho système JavaScript`;
      pdf.setTextColor(100);
      pdf.setFontSize(10);
      pdf.setFontStyle("italic");
      pdf.text(127, 253, formation3);
      // Formation 3WA
      pdf.setFontSize(14);
      pdf.setFontStyle("bold");
      pdf.setTextColor(50);
      pdf.text(80, 274, "3W Academy");
      pdf.setFontSize(12);
      pdf.setFontStyle("normal");
      pdf.text(80, 279, "Financée");
      pdf.text(80, 284, "2016 - (3 mois)");
      let formation4 = `Apprentissage de 5 langages incontournable :
      - HTML / CSS / JS / PHP / SQL`;
      pdf.setTextColor(100);
      pdf.setFontSize(10);
      pdf.setFontStyle("italic");
      pdf.text(127, 279, formation4);
      pdf.save("cv-alain-guillon.pdf");
    },
  },
};
</script>

<style lang="scss" scoped>
footer {
  width: 100%;
  min-height: 300px;
  background-color: var(--dark);
  color: var(--white);
  box-shadow: -2px 0 10px var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  a:not(.link) {
    color: var(--white);
    text-align: left;
    padding: 2px 0 2px 80px;
    letter-spacing: 2px;
    &.router-link-exact-active {
      color: var(--gold-light);
    }
    &:hover {
      color: var(--red);
    }
    &::before {
      content: "— ";
      padding-right: 20px;
    }
  }

  h3 {
    color: var(--gold);
    opacity: 1;
    border-bottom: 2px solid var(--gold);
    padding-bottom: 20px;
    max-width: 80%;
    margin: 40px auto;
    text-align: center;
    min-width: 80%;
  }

  .container__bottom,
  .container__middle {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .container__bottom {
    background-color: var(--grey);
    padding: 20px;
    box-shadow: -2px 0 10px var(--shadow);

    .link {
      padding: 0 20px;
      &:hover {
        filter: drop-shadow(0 0 4px var(--white));
      }
    }
  }
  .container__middle {
    .container {
      box-shadow: 2px 2px 5px var(--shadow) inset;
      background-color: var(--grey);
      display: flex;
      flex-direction: column;
      .content {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        figure {
          cursor: pointer;
          margin-bottom: 40px;
          min-width: 25%;
        }
        p {
          max-width: 35%;
          letter-spacing: 1.8px;
          text-align: left;
        }
      }
    }
  }

  .left,
  .right {
    min-width: 25%;
    margin-bottom: 0px;
  }

  .left {
    ul {
      display: flex;
      flex-direction: column;
      li {
        padding: 10px;
        text-transform: uppercase;
      }
    }
  }

  .right {
    ul {
      list-style-type: "\1F44D";
      margin-left: 80px;
      li {
        padding-left: 20px;
        text-align: left;
      }
    }
  }
}
</style>
