<template>
  <div id="nav" class="nav">
    <router-link to="/">&lt;the-alain-guillon /&gt;</router-link>
    <div class="flex-fill"></div>
    <div class="menu">
      <router-link to="/">Accueil</router-link>
      <router-link to="/about">A propos</router-link>
      <router-link to="/services">Services</router-link>
      <router-link to="/portfolio">Portfolio</router-link>
      <router-link to="/contact">Contact</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "TheTopBar",
};
</script>

<style lang="scss" scoped>
.nav {
  position: fixed;
  z-index: 1;
  min-width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 64px;
  line-height: 64px;
  box-shadow: 0 0 10px 0 var(--shadow);
  background-color: var(--dark);

  > a {
    padding-left: 20px;
    font-size: 24px;
    font-weight: 900;
    color: var(--white);
    transition: color 0.4s ease-out;

    &:hover {
      color: var(--gold-light);
      transition: color 0.4s ease-in;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 64px;

    a {
      font-weight: bold;
      color: var(--white);
      padding: 0 20px;
      margin: 0 auto;
      transition: all 0.4s ease-in;


      &:hover {
        background-color: var(--gold-light);
        color: var(--grey);
        transition: all 0.4s ease-out;
      }

      &.router-link-exact-active {
        color: var(--gold-light);
        &:hover {
          color: var(--dark);
        }
      }
    }
  }
}
</style>
