<template>
  <div class="about">
    <h1>A propos</h1>

    <div class="container">
      <h2>Présentation</h2>
      <p>
        Ce qui va suivre vous montrera
        <strong>ma détermination</strong>,
        <strong>le mental que je me suis forgé</strong>,
        <strong>ma faculté a encaisser le stress (galères)</strong> tout en
        prouvant qu'il ne faut jamais rien lâcher.
        <em
          >Ainsi, vous comprendrez mieux pourquoi ma reconversion dure aussi
          longtemps</em
        >. (4 ans).
      </p>

      <p>
        Ici, je vais vous parler de
        <em>moi</em>, de qui <em>je suis</em>, mais aussi,
        <em>je vais vous dévoiler une partie très sombre de ma vie</em>,
        <strong>je sais que ça peut jouer contre moi</strong>, sauf que pour
        moi, ce qui va suivre
        <strong>c'est mon moteur c'est ma réussite</strong> et ne pas en parler,
        serait pour moi, un echec sur un plan personnel et professionnel.
      </p>

      <p>
        Vous êtes un recruteur,
        <strong>vous recherchez une personne fausse !? sans âme !?</strong>
        passé votre chemin. Je suis quelqu'un d'
        <span @click.prevent="addQuality('Je suis authentique')"
          >authentique</span
        >
        et a mon sens, une bonne relation entre un employeur et un employé, se
        définit part une totale
        <spancontainer @click.prevent="addQuality('Je suis transparent')"
          >transparence</spancontainer
        >.
      </p>
      <p>
        La seule chose que vous aurez à faire, c'est de cliquer sur les mots
        écrits en rouge.
        <br />
        <br />
        <em
          >Vous êtes libre de choisir les mots que vous voulez, ils s'ajouteront
          dans une liste qui sera visible sur le côté pour la version bureau et
          tout à la fin pour la version mobile.</em
        >
        <br />
        <br />Voilà, après ces quelques mots, je peux vous raconter une partie
        de mon histoire.
      </p>

      <h2>Mon histoire</h2>
      <p>
        Je m'appel
        <strong>
          Alain Guillon, j'ai 36 ans,
          <span @click.prevent="addQuality('Je suis fidèle')"
            >en couple depuis 16 ans</span
          >, je suis malheureusement...
          <mark>
            <dfn
              title="Parange corresponds à un nom donné aux parents ayant perdu malheureusement un enfant."
              >parange</dfn
            >
          </mark>
          d'une petite fille... Mais j'ai 2 autres enfants qui compte plus que
          tout pour moi. </strong
        >. Alors comme je l'ai mentionné au début, je suis aujourd'hui en
        reconversion professionnel dans ce métier qui nous passionne, vous et
        moi.
      </p>
      <p>
        J'ai, commencé cette reconversion en 2016 lors de ma formation passé
        dans un centre spécialisé à la
        <strong>3W Academy</strong> sur Lyon.
        <em>J'ai suivi et terminé</em> cette formation avec un esprit assez
        perturbé. En effet, alors que je suivais cette formation
        <strong
          >ma dernière fille venait tout juste de se faire
          hospitaliser...</strong
        >
        <em>&nbsp;Psychologiquement, vous vous en doutez, c'était compliqué</em
        >, mais je me suis
        <span @click.prevent="addQuality('J\'ai des objectifs')">fixé</span>
        l'objectf de réussir... et... j'ai réussi mon QCM de fin de formation du
        premier coup. ( <em>Nous étions que 4 à le réussir</em> ).
      </p>
      <p>
        Après cette formation accéléré qui a tout de même durée 3 mois, je me
        suis inscrit sur énormément de plateforme d'e-learning en
        <span @click.prevent="addQuality('Je suis autodidacte')"
          >autodidacte</span
        >
        pour réussir dans ce domaine. D'où ma
        <span @click.prevent="addQuality('Je suis déterminé')"
          >détermination</span
        >
        à réussir dans ce milieu. En revanche, à cette période,
        <strong
          >je n'étais pas totalement investi dans le sens où j'étais très
          inquiet part l'état de santé de mon enfant.</strong
        >
      </p>
      <p>
        Il faut dire que pendant tout ce temps,
        <strong
          >nous découvrons avec horreur que notre fille avait une maladie
          orpheline</strong
        >....
        <br />
        <br />...Quelques mois ont passé
        <em
          >(8 mois d'hospitalisation à HFME - Je vous épargne les nombreuses
          péripéties qu'on a vécu...)</em
        >, ma conjointe et moi même avons été convoqué dans un bureau, ou six
        médecins nous attendais.
        <em
          >Là, c'était tout simplement à double tranchant, soit une bonne soit
          une mauvaise nouvelle...</em
        >.
      </p>
      <p>
        Malheureusement pour nous,
        <strong>c'était une mauvaise nouvelle qui nous attendais</strong>... Vue
        que nous ne comprenions rien aux termes techniques employés, tout
        simplement,
        <br />
        <br />

        <strong>
          <q
            >&nbsp;&mdash; je leur ai demandé où es-ce qu'elle serait dans un an
            !?</q
          >
        </strong>
        .
        <br />
        <br />
        <strong>
          <q>
            &mdash;
            <em>Leur réponse...</em> Mais dans un an, elle ne sera plus là !!
          </q> </strong
        >...
        <br />
        <br />
        <em>
          il faut avoir les nerfs solide, ce qui peut se traduire par avoir un
          sacré
          <span @click.prevent="addQuality('Je suis courageux')">courage</span>
          pour
          <span @click.prevent="addQuality('Je sais encaisser')">encaissé</span>
          ça </em
        >.
        <strong>
          J'ai cette fierté de dire que j'ai eu la
          <span @click.prevent="addQuality('Je suis très lucide')"
            >lucidité</span
          >
          de ne pas faire de bếtise en pensant tout de suite à l'après et aux
          risques pour mes deux premières filles... Surtout si je venais à
          partir en vrille avec eux. </strong
        >.
      </p>
      <p>
        J'ai exigé
        <span @click.prevent="addQuality('Je suis calme')">calmement</span>
        qu'elle sorte de l'hôpital à cette instant même et surtout, qu'ont se
        battent pour sa survie à l'encontre du corps médicale.
        <br />
        <br />
        <strong
          >Sa maladie fait qu'elle ne grandissait pas... Mais ces organes oui...
          donc elle est sortie de l'hôpital avec un poids de moins de
          3kg.</strong
        >&nbsp;
        <em
          >Elle ne sortira que le lendemain de l'hôpital avec une mise en place
          d'une HAD "hospitalisation à domicile".</em
        >
        <br />
        <br />Nous avons eu d'autres mésaventures, comme le faîte qu'on ne
        pouvais plus la perfuser au niveau du bras. Ce qui signifiait qu'il ne
        lui resterait.. <strong>moins de 3 jours à vivre</strong>.. Donc en
        résumé, d'un an, nous passons à moins de 3 jours...
        <br />
        <br />C'est dur, très dur mais nous n'avons
        <span @click.prevent="addQuality('Je refuse l\'echec')"
          >rien lâché</span
        >
        et nous avons ainsi pu repousser toutes les prévisions médicale
        annoncé...
      </p>
      <ul>
        <li>&mdash; Elle ne passera pas noël...</li>
        <li>&mdash; Elle ne passera pas son anniversaire...</li>
        <li>&mdash; Elle ne passera pas les vacances d'hiver...</li>
        <li>&mdash; Elle ne passera pas pâques...</li>
        <li>&mdash; Elle ne passera pas les grandes vacances...</li>
      </ul>
      <p>
        J'en ai eu marre et j'ai pris l'
        <span @click.prevent="addQuality('Prends des initiatives')"
          >initiative</span
        >
        de virer l'HAD de la maison. Nous ne pouvions pas continuer avec des
        personnes qui n'était jamais positif.
        <strong>
          Nous nous sommes
          <span @click.prevent="addQuality('Je suis un battant')">battu</span>
          seule et contre tous pour qu'elle puisse vivre auprès de ces soeurs et
          nous ces parents.
        </strong>
      </p>
      <p>
        <strong
          >Nous avons réussi en lui donnant presque 2 ans de plus quand à
          l'hôpital</strong
        >, il lui donnait moins d'un an puis 3 jours...
        <br />
        <br />
        <strong
          >Pendant cette période j'ai continué à me former pour le web tout en
          ayant une vigilence accrue pour ma fille.</strong
        >
        J'ai même remplacé mon ancien formateur à la 3WA, malgré tout ce que je
        vivais. La 3WA m'a donné cette chance de vivre de cette passion. J'ai
        donc été
        <span @click.prevent="addQuality('J\'ai été formateur')"
          >formateur</span
        >
        pour la session L13 début 2017.
        <em>sur 14 élèves, 10 ont réussi leur QCM de fin de formation.</em>
        <br />
        <br />J'ai par la suite fait des petites pages assez simple en
        <span @click.prevent="addQuality('J\'ai été auto-entrepreneur')"
          >auto-entrepreneur</span
        >
        pour des amis. Le tout uniquement en local, ils n'avaient pas d'utilité
        à que ce soit en ligne.
        <em>
          Comme on le dit si bien,
          <span @click.prevent="addQuality('A l\'écoute du client')"
            >le client est roi</span
          >
          et nous nous plions à leurs volontés tout en les
          <span @click.prevent="addQuality('Je peux conseiller')"
            >conseillants</span
          >
          sur ce qu'il serait bien pour eux..
        </em>
        <br />
        <br />Sauf que voilà... ma fille... un matin, elle n'allait pas très
        bien... J'ai dû appeler les pompiers sachant qu'elle était un petit peu
        gonflé.
        <br />
        <br />Quand nous étions auprès d'elle, malheureusement
        <strong>
          elle a fait un arrêt cardiaque. Elle est partie rejoindre ce qu'elle a
          toujours été, un ange
        </strong>
        avec tout de même un très gros regret...
        <em>
          A l'hôpital ils se sont arrêté sur un compte rendu datant de 2017...
          où il était stipulé qu'il ne fallait surtout pas s'acharner pour la
          réanimer au cas où si elle partait...
          <br />
          <br />
          <strong
            >Sauf que ce compte rendu avait été changé en 2018... Vu que les
            médecins était stupéfait par sa courbe qui remontait en flèche...
            mais le médecin n'a rien mentionné dans le dossier
            médicale...</strong
          >
          Notre tord, c'est d'avoir fait confiance aveuglément et donc, de ne
          pas avoir insisté sur le faîte d'avoir un papier qui permettrait
          justement de prouver ce qui c'était dit dans ce bureau début 2018...
        </em>
      </p>
      <p>
        Là, vous vous en doutez c'est la descente aux enfer qui commence...
        malgré ce drâme,
        <em
          >je n'avais pas le choix de garder la tête haute et j'ai accompagné ma
          fille jusqu'au bout.</em
        >, ma conjointe n'était que l'ombre d'elle même... Mes filles étaient
        dévasté, je n'avais pas le droit de craqué et j'ai tenu.
        <br />
        <br />
        <strong>Ma princesse est malheureusement décédée le 25/11/2018</strong>,
        <em
          >j'ai mis un peu plus d'un an pour faire en sorte que ma conjointe
          s'enlève toutes ces idées noire de la tête</em
        >.
        <br />
        <br />Je le dois à mon
        <span @click.prevent="addQuality('Caractère fort')">caractère</span>.
        <br />
        <br />Pour lui montrer que l'on pouvait avancer, et que de toutes
        manière nous devions allez de l'avant quoi qu'il en soit pour nos 2
        autres filles.
        <strong
          >Ainsi, j'ai repris contact avec la 3WA pour leur faire part de cette
          triste nouvelle, la 3WA m'a permit de me relancer très rapidement en
          rejoignant une classe avec un nouveau formateur.</strong
        >.
        <br />
        <br />Je suis quelqu'un d'
        <span @click.prevent="addQuality('Je suis humble')">humble</span>&nbsp;,
        <em
          >Je lui souhaite de réussir malgré que nous n'avions pas la même
          vision de l'enseignement.</em
        >
        En effet, ce formateur préférait continuer avec les personnes qui
        comprenait plus où moins les choses, tout en délaissant maladroitement
        les personnes qui avaient plus de mal.
      </p>
      <p>
        J'ai montré l'exemple à ma femme, mais elle n'y arrivait pas. J'ai donc
        mis ma vie de côté afin que mes enfants, ma conjointe puisse à nouveau
        allez de l'avant.
        <strong>
          C'est un très gros
          <span @click.prevent="addQuality('Je me sacrifie')">sacrifice</span>
          que j'ai fais mais il en vallait la peine.
        </strong>
        <br />
        <br />Aujourd'hui des personnes me critique (
        <em>surtout mon voisinage</em>), sur le faîte que je ne travail pas...
        Mais je n'ai rien a leurs prouver, je connais mes valeurs et je sais ce
        que je veux.
      </p>

      <p>
        Pour réussir, je me forme comme je l'ai déjà dis constament, J'ai pour
        plus de 1000€ de formation sur udemy, j'ai passé plus de 240h sur
        Dyma.fr, j'ai cette
        <span @click.prevent="addQuality('Je suis curieux')">curiosité</span> ou
        bien certaine personnes disent que j'ai une
        <span @click.prevent="addQuality('Addicte au code')">addiction</span>
        pour découvrir de nouvelles choses.
      </p>

      <p>
        Mon
        <span @click.prevent="addQuality('Je suis Ambitieux')">ambition</span>
        elle est simple, ce que je veux avant tout c'est de décrocher un emploi,
        j'ai les compétences pour postuler en tant que
        <span @click.prevent="addQuality('Je suis dev frontend')"
          >dev front</span
        >. Par la suite, je souhaiterais former des personnes sur les
        technologies autour de l'écho système JavaScript, bien entendu, ça se
        fera après avoir engrenger de l'expérience professionnel.
        <br />
        <br />A titre personnel j'aimerais dans un quelconque futur, ou si on
        m'en donne l'oportunité, me former sur le côté back-end. J'ai découvert
        Node mais je manque cruellement de pratique, également, j'ai besoin de
        renforcer mes acquis que ce soit avec Vue, React ou bien même en
        javascript natif. J'ai aussi besoin d'apprendre Angular pour le full
        stack Javascript, mais aussi Symfony ou bien même Laravel et ainsi me
        replonger dans le PHP que j'ai mis de côté depuis plus d'un an.
        <br />
        <br />Mais surtout, je veux obtenir cet emploi
        <em>non pas pour faire taire les mauvaises langues</em>,
        <strong
          >mais pour mettre en pratique ce que j'ai pu apprendre en autodidacte
          depuis toutes ces années.</strong
        >
      </p>
      <p>
        Je me répète c'est vrai, mais mon objectif est simple, je veux devenir
        fullstack javascript.
        <em
          >Par exemple, ce portfolio a été créé avec la stack MEVN, sauf n'ayant
          pas encore assez d'expérience dans cette stack je me considère
          uniquement débutant.</em
        >
        <br />
        <br />Comme je l'ai mentionné, je me forme auprès de formateur reconnu
        comme:
        <br />
        <br />
        <strong>&mdash;Quentin, Erwan de Dyma.fr</strong>, ils sont toujours
        présent pour nous aidez au moindre soucis. J'apprends beaucoup de chose
        grâce à leurs plateforme.
        <br />
        <strong>&mdash; Matthieu Gaston créateur de la plateforme H2prog</strong
        >, ce formateur n'hésite pas a donner de son temps pour nous aider. Par
        exemple dernièrement il m'a conseiller sur le contenu de mon CV.
        Egalement, avec les formations h2prog
        <strong
          >je renforce mes connaissances par la qualité des cours
          proposé.</strong
        >
        <br />
        <br />Il faut dire que j'ai régulièrement le
        <span @click.prevent="addQuality('Je suis soutenu')">soutien</span> de
        plusieurs formateurs, développeurs, étudiants, amis mais le plus
        important j'ai celui de ma famille.
        <em
          >Ce n'était pas évident d'obtenir celui-ci sachant qu'ils ne
          connaissent rien dans le métier.</em
        >
        Aujourd'hui je l'ai et c'est pour moi le plus important.
      </p>
      <p></p>
    </div>

    <aside>
      <span @click.prevent="hide" ref="btn_aside">&times;</span>
      <div class="aside__content" ref="aside_content">
        <h3>Mes qualités</h3>
        <p>
          Ci-dessous, découvrez un résumé des qualités que je peux prétendre
          avoir acquis via cette terrible épreuves.
        </p>
        <ul>
          <li v-for="(data, index) in qualities" :key="index">{{ data }}</li>
        </ul>
        <button
          type="button"
          class="btn"
          v-show="qualities != 0"
          @click.prevent="clear"
        >
          Vider la liste
        </button>
        <p>
          <em>Ce que je ne dis pas c'est que j'ai eu d'autres galères...</em>
          <br />
          <br />Enfin bref, il faut allez de l'avant alors n'hésitez pas à jouer
          le jeu ça peut en valoire la peine ;)
        </p>
      </div>
    </aside>
  </div>
</template>

<script>
export default {
  data() {
    return {
      qualities: [],
      asideStatus: false,
    };
  },
  methods: {
    addQuality(name) {
      if (this.qualities.indexOf(name) != -1) {
        return false;
      } else {
        this.qualities.push(name);
      }
    },
    clear() {
      this.qualities = [];
    },
    hide() {
      const btnAside = this.$refs.btn_aside;
      const aside = this.$refs.aside_content;

      if (this.asideStatus) {
        // Panel ouvert
        aside.style.right = 0;
        aside.style.transition = "all 0.4s ease-in";
        btnAside.style.right = 350 + "px";
        btnAside.style.transition = "all 0.4s ease-in";
        btnAside.innerText = "x";
        this.asideStatus = false;
      } else if (!this.asideStatus) {
        // Panel fermé
        aside.style.right = -350 + "px";
        aside.style.transition = "all 0.4s ease-out";
        btnAside.style.right = 0 + "px";
        btnAside.style.transition = "all 0.4s ease-out";
        btnAside.innerText = "<";
        this.asideStatus = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.visibility {
  display: block;
}

.about {
  margin-top: 64px;
  min-height: calc(100vh - 64px);
  background-color: var(--white);
  box-shadow: inset 0 0 200px var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  h1 {
    color: var(--gold);
    position: absolute;
    top: 400px;
    left: -130px;
    border-bottom: 4px solid;
    border-color: var(--red);
    padding: 0 50px 25px 50px;
    font-size: 100px;
    transform: rotate(-90deg);
    opacity: 0.5;
    margin: 0;
  }

  h2 {
    color: var(--dark);
    margin-bottom: 20px;
    border-bottom: 2px solid;
    border-color: var(--red);
    padding-bottom: 20px;
    opacity: 0.9;
  }

  h3 {
    margin-top: 10px !important;
    color: var(--red);
    margin-bottom: 20px;
    opacity: 0.9;
    border-bottom: 2px solid;
    padding-bottom: 20px;
  }

  aside {
    z-index: 1;
    span {
      position: fixed;
      top: 100px;
      right: 350px;
      z-index: 1;
      font-size: 20px;
      background-color: var(--dark);
      color: var(--white);
      padding: 10px 20px;
      border-radius: 25px 0 0 25px;
      font-weight: 700;
      cursor: pointer;
      box-shadow: -1px 0 2px var(--shadow);
    }

    .aside__content {
      position: fixed;
      top: 0;
      right: 0;
      max-width: 350px;
      margin-top: 64px;
      height: calc(100% - 64px);
      padding: 20px 40px 40px 40px;
      border: 1px solid;
      background-color: var(--dark);
      box-shadow: -2px 0 10px var(--shadow);

      p {
        color: var(--white);
        letter-spacing: 1.8px;
        text-align: left;
        margin: 20px 0;
      }

      ul {
        text-align: left;
        padding-left: 0px;
        letter-spacing: 2px;
        list-style-type: none;
        li {
          color: var(--gold-light);
          &::before {
            content: "— ";
          }
        }
      }

      .btn {
        padding: 5px 10px;
        margin-top: 10px;
        background-color: var(--red);
        color: var(--white);
        text-transform: uppercase;
        outline: none;
        border: none;
        cursor: pointer;
      }
    }
  }
  .container {
    width: 50%;
    margin-top: 10px;
    padding-bottom: 100px;
    p {
      text-align: left;
      margin: 20px 0;
      letter-spacing: 2px;
      word-spacing: 2px;
      font-size: 20px;

      &::first-letter {
        font-size: 30px;
        color: var(--red);
      }
      &:last-child {
        padding-bottom: 40px;
      }

      em {
        font-size: 18px;
      }

      span {
        color: crimson;
        cursor: pointer;
      }
    }
    ul {
      list-style-type: none;
      text-align: left;
      font-size: 20px;
      letter-spacing: 1.8px;
      li {
        padding-left: 20px;
      }
    }
  }
}
</style>
