<template>
  <div id="app" class="app">
    <the-top-bar></the-top-bar>
    <router-view />
    <the-footer></the-footer>
  </div>
</template>

<script>
import TheTopBar from "./components/utils/TheTopBar";
import TheFooter from "./components/utils/TheFooter";

export default {
  name: "App",
  components: {
    TheTopBar,
    TheFooter,
  },
};
</script>

<style lang="scss">
:root {
  --dark: #2b2b2b;
  --grey: #454545;
  --gold: #b4a93b;
  --gold-dark: #8d8530;
  --gold-light: #cac059;
  --white: #dedede;
  --shadow: #000000;
  --red: crimson;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--dark);
}

h1,
h2,
h3 {
  margin-top: 40px;
  text-transform: uppercase;
  color: var(--dark);
  opacity: 0.2;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}

a {
  text-decoration: none;
  &:focus,
  &:visited,
  &:active {
    color: var(--dark);
  }
  &:hover {
    color: #42b983;
  }
}

mark {
  background-color: var(--gold-light);
  padding: 2px 10px;
}

em {
  font-weight: 300;
  color: var(--grey);
}

.flex-fill {
  flex: auto;
}
</style>
